body {
    background-color: whitesmoke;
    padding: 0;
    margin: 0;

}

.container {
    display: flex;
    flex-direction: column;
}

/*Header Logo & Links*/

.menu-container {
    display: flex;
    background-color: #1f2937;
    padding: 20px 15px 15px 20px;
    align-items: center;
}

.top-logo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.link-list {
    display: flex;
    margin-left: auto;
}

.link-list a {
    font-family: 'Roboto', Lato;
    color: whitesmoke;
    font-size: 20px;
    padding: 10px;
}

/*My Introduction Section*/

.heading1 {
    display: flex;
    color: whitesmoke;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.heading1-0 {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.heading1-0 p {
    font-family: 'Roboto', Lato;
    opacity: 0.5;
    font-size: 18px;
}

h1 {
    font-size: 45px;
    font-weight: bold;
    color: whitesmoke;
    margin: 0;
    font-family: 'Roboto', Lato;
}

.heading1-0-image img {
    width: 500px;
    height: 350px;
}

form button {
    display: block;
    width: 115px;
    border: none;
    background: #3882f6;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    opacity: 0.7;
}

.heading1-0 button:hover {
    opacity: 1;
}

.heading1-0-image p {
    font-size: 12px;
    font-style: italic;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*My Links - Middle Of The Page*/

.content-section {
    align-items: center;
}

.content-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content-info a img {
    height: 175px;
    width: 175px;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: blueviolet;
    margin: 0px 15px 0px 15px;
    opacity: 0.7;
}

.content-info img:hover {
    opacity: 1;
}

.content-section h2 {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content-section p {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    color: #1f2937;
    font-family: 'Roboto', lato;
    font-weight: bold;
}

/*Quote*/

.quote {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    padding: 0 150px 0 150px;
}

.quote p {
    color: #1f2937;
    font-size: 36px;
    font-style: oblique;
    font-family: 'Roboto', lato;
}

.quote b {
    padding: 10px 5px 15px 100px;
    text-align: left;
    font-family: 'Roboto', lato;
}
